h2{
    color: blue;

}
body{
    text-align: center;
    background-color: aqua;
}

hr{
    background-color: red;
    height: 2px;
}

#Navigation{
    text-align: center;
    background-color: grey;
    width: 100%;
    height: 60px;
}

#AboutMeButton{
    color: yellow;
    background-color:blue;
    width: 100px;
    height: 25px;
}
#AboutMeButton:hover{
    background-color:red;
}

#EducationButton{
    color: yellow;
    background-color:blue;
    width: 100px;
    height: 25px;
}
#EducationButton:hover{
    background-color:red;
}

#SkillsButton{
    color: yellow;
    background-color:blue;
    width: 100px;
    height: 25px;
}
#SkillsButton:hover{
    background-color:red;
}

#ContactMeButton{
    color: yellow;
    background-color:blue;
    width: 100px;
    height: 25px;
}
#ContactMeButton:hover{
    background-color:red; 
}

#PrimarySchool{
    background-color: blue;
    color: yellow;
}
#PrimarySchool:hover{
    
    background-color:red;
}

#HighSchool{
    background-color: blue;
    color:yellow ;
}
#HighSchool:hover{
    background-color: red;
}
#University{
    background-color: blue;
    color:yellow ;
}
#University:hover{
    background-color: red;
}

#Resume1{
    background-color: blue;
    color:yellow ;
}
#Resume1:hover{
    background-color:red;
}

#Facebook{
    background-color: blue;
    color:yellow ;
}
#Facebook:hover{
    background-color:red;
}

#Instagram{
    background-color: blue;
    color:yellow ;
}
#Instagram:hover{
    background-color:red;
}

#BackTopButton {
    width: 100px;
    height: 50px;
    color: yellow;
    background-color:blue;
}
#BackTopButton:hover{
    background-color: red;
}

a {
    text-decoration: none;
}
